# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'/opt/miniconda3/envs/pandas_cub/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [4]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [11]:
data

{'name': array(['Penelope', 'Niko', 'Eleni'], dtype='<U8'),
 'state': array(['Texas', 'California', 'Texas'], dtype='<U10'),
 'height': array([3.6, 3.5, 5.2]),
 'school': array([ True, False,  True]),
 'weight': array([ 45,  40, 130])}

In [26]:
data_1 = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}
data_2 = {'a': np.array([1]), 'b': np.array([[1]])}
df = pdc.DataFrame(data_2)
df

TypeError: values must be 1 dimensional

In [6]:
df_final

In [7]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130